<!DOCTYPE HTML>
<html>
  <title> Congratulations! | Agon</title>

<head>
<style>
@font-face {
  font-family: orbitron;
  src: url("/static/img/orbitron-light-webfont.woff");
}
body{
background-image: url("/static/img/gametagbg.jpg")
}

.infobar {
top: 240px;
  left: 200px;
  height: 150px;
  width: 550px;
  padding: 10px;
  margin-left:px;
  margin-right: 300px;
  border-width: 20px;
  font-family: orbitron;
  font-size: 30px;
  position: relative;
  color:yellow;
}

</style>
</head>
<body>

<div class=infobar>
	  <label for="male">Congratulations! Your Gamer ID is {{id}}</label>

  

</div> </body>
</html>
